.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
package.json
dist.zip
dist
dist-tsc
.DS_Store
node_modules
node_modules/.vite/deps/_metadata.json
extra/words/*.txt
test-zip
test-zip-clean
w-xr-*.zip
w-xr-**
scripts/textures
